body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: size 18px;
    color:crimson;
}

.nav{
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-style:dashed;
    border: 2px solid crimson;
    border-radius: 10px;
}
.col1{
    border-radius: 20px;
    border-color:crimson;
}
